{% extends "base.html" %} {% block title %}Help Center - DME Admin{% endblock %}
{% block content %}
<div class="max-w-4xl mx-auto">
  {% include "components/cms_menu.html" %}

  {% from "components/tree_node_select_options.html" import render_node_select %}

  <h3 class="font-bold text-lg border-b border-gray-200 pb-2">Edit node: {{node.title}}</h3>

  <form
    class="mt-2 gap-4 flex flex-col"
    hx-post="/cms/help-center/update/{{ node.id }}"
    hx-trigger="submit"
    hx-on="htmx:afterRequest: window.location.href='/cms/help-center'"
    id="new-node-form">
    <div class="flex flex-col">
      <label class="font-medium text-sm mb-1">Title</label>
      <input name="title" class="border border-gray-200 rounded-lg px-2 py-1 outline-none text-sm" type="text" value="{{node.title}}" />
    </div>
    <div class="flex flex-col">
      <label class="font-medium text-sm mb-1">Parent</label>
      <select name="parent_id" class="border border-gray-200 rounded-lg px-2 py-1 outline-none text-sm">
        <option value="0">No parent</option>
        {% for parent_node in nodes %}
          {{ render_node_select(parent_node, '', node.parent_id) }}
        {% endfor %}
      </select>
    </div>
    <div class="flex flex-col">
      <label class="font-medium text-sm mb-1">Type</label>
      <select id="node-type" name="node_type" class="border border-gray-200 rounded-lg px-2 py-1 outline-none text-sm">
        <option value="">Parent</option>
        <option value="document" {% if node.is_document %}selected{% endif %}>Text</option>
        <option value="url" {% if node.is_url %}selected{% endif %}>URL</option>
      </select>
    </div>
    <div class="flex flex-col {% if not node.is_document %}hidden{% endif %}" id="text-content-input">
      <label class="font-medium text-sm mb-1" id="content-title">Content</label>
      <textarea class="border border-gray-200 rounded-lg px-2 py-1 outline-none text-sm" name="html_content">{{node.html_content}}</textarea>
    </div>
    <div class="flex flex-col {% if not node.is_url %}hidden{% endif %}" id="url-content-input">
      <label class="font-medium text-sm mb-1" id="content-title">URL</label>
      <input class="border border-gray-200 rounded-lg px-2 py-1 outline-none text-sm" name="external_url" type="text" value="{{node.external_url}}" />
    </div>
    <div class="flex justify-end gap-2 mt-4">
      <button type="button" class="px-4 py-2 text-gray-600" onclick="window.location.href='/cms/help-center'">Cancel</button>
      <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Save</button>
    </div>
  </form>
</div>
{% endblock %} {% block scripts %}
<script>
  document.getElementById('node-type').addEventListener('change', function (ev) {
    const value = ev.target.value;

    document.getElementById('text-content-input').classList.add('hidden');
    document.getElementById('url-content-input').classList.add('hidden');

    if (value === 'document') {
      document.getElementById('text-content-input').classList.remove('hidden')
    }

    if (value === 'url') {
      document.getElementById('url-content-input').classList.remove('hidden')
    }
  });
</script>
{% endblock %}
