{% extends "base.html" %} {% block title %}Help Center - DME Admin{% endblock %}
{% block content %}
<div class="max-w-4xl mx-auto">
  {% include "components/cms_menu.html" %}

  {% from "components/tree_node_table_rows.html" import render_node %}
  {% from "components/tree_node_select_options.html" import render_node_select %}
  
  <div id="help-center-table">
    {% include "components/help_center_table.html" %}
  </div>

  <a href="/cms/help-center/add" class="px-4 py-2 text-blue-600 rounded shadow-lg border border-blue-600 hover:bg-blue-600 hover:text-white">
    Add Node
  </a>
</div>
{% endblock %}
