{% macro render_node(node, node_index, total_nodes) %}
  {% set can_go_back = node_index > 0 %}
  {% set can_go_forward = node_index < total_nodes - 1 %}
  <tr>
    <td align="center">
      <button
        onclick="moveNode({{ node.id }}, {{ node.sequence }}, 'up')"
        class="mr-2 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed" {% if not can_go_back %}disabled{% endif %}>
        <i class="fa fa-arrow-up text-gray-500"></i>
      </button>
      <button
        onclick="moveNode({{ node.id }}, {{ node.sequence }}, 'down')"
        class="mr-2 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed" {% if not can_go_forward %}disabled{% endif %}>
        <i class="fa fa-arrow-down text-gray-500"></i>
      </button>
    </td>
    <td class="p-4 pl-{{ 4 + (node.level * 4) }} whitespace-nowrap text-sm font-medium text-gray-900 border-b border-gray-200">
      {{ node.title }}
    </td>
    <td class="p-4 whitespace-nowrap text-sm font-medium text-gray-900 border-b border-gray-200">{{ "Text" if node.is_document else "URL" if node.is_url else "Parent" }}</td>
    <td class="p-4 whitespace-nowrap text-sm font-medium text-gray-900 border-b border-gray-200">{{ node.level }}</td>
    <td class="p-4 text-center border-b border-gray-200" width="100">
      <a href="/cms/help-center/edit/{{ node.id }}">
        <i class="fa fa-edit text-gray-600 cursor-pointer mr-4"></i>
      </a>

      <i
        class="fa fa-trash text-red-600 cursor-pointer"
        hx-delete="/cms/help-center/delete/{{ node.id }}"
        hx-target="#help-center-table"
        hx-confirm="Are you sure you want to delete: {{ node.title }} and it's children?"></i>
    </td>
  </tr>
  
  {% for child in node.children %}
    {{ render_node(child, loop.index0, node.children|length) }}
  {% endfor %}
{% endmacro %}
